html {}
body {}
#page-wrap {
  width:1024px;
  margin:0 auto;
}
h1 { font:bold 36px/1.4 Georgia, serif; }
h1 a { color:#000; }
h2 { font-weight:bold; font-size:20px; margin:10px 0;}
p#contact { display:none; }
#nav { width:100%; float:right; margin-bottom:20px; }
#nav li { float:left; font-size:18px; margin:5px; }
#nav li a { color:#000; }
#content { clear:both;}
tr {}
th { padding:10px; font-size:18px; font-weight:bold; }
td { padding:10px; }

body.admin-works #nav li.works a, body.admin-categories #nav li.categories a { text-decoration:none; }

form fieldset {
  margin-bottom: 10px;
}
form legend {
  padding: 0 2px;
  font-weight: bold;
}
form label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form fieldset ol {
  margin: 0;
  padding: 0;
}
form fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form fieldset fieldset label {
  display: block;
  width: auto;
}
form em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form label {
  width: 120px; /* Width of labels */
}
form fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}