<tr id="<%= dom_id(category) %>">
  <td><%= category.name -%></td>
  <td><%= link_to 'edit', edit_admin_category_path(category) -%> | <%= link_to 'x', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>