<h2>Categories</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories -%>
  </tbody>
</table>

<%= link_to("Add New Category", new_admin_category_path) -%>